################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryManagement.sln
/LibraryManagement.sln
